/* ==========================================================================
Basic Styles 
 ========================================================================== */ 
body {
    font-family: Raleway, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #6d6d6d;
    overflow-x: hidden;
}
a {
    color: #F58026;
    text-decoration: none;
}
a:hover,a:focus {
    color: #F58026;
    text-decoration: underline
	 -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
a:focus,
.btn:focus {
    outline: none;
}
/* ==========================================================================
Typo Styles
 ========================================================================== */ 
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: 300;
}
.col-text-lg {
    font-size: 58px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0.01em;
    word-spacing: 0.15em;
    text-transform: uppercase;
}
/* ==========================================================================
Background Overlay
 ========================================================================== */ 
.light-overlay {
    background: rgba(255, 255, 255, 0.5);
    padding: 50px 0;
}
/* ==========================================================================
Layout Styles
 ========================================================================== */ 
.add-padding {
    padding-top: 120px;
    padding-bottom: 140px;
}
.padding-bottom {
    padding-bottom: 50px;
}
/* ==========================================================================
Buttons
 ========================================================================== */ 
.btn-color1,
.btn-color2 {
    padding: 10px 30px;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    background: #555;
    outline: none !important;
    border-radius: 0;
    transition: opacity .2s ease-out;
}
.btn-color1 {
    background: #11B2D2;
}
.btn-color1:hover,
.btn-color2:hover {
    color: #fff;
    opacity: 0.9;
}
.btn-color1:focus,
.btn-color1:active,
.btn-color2:focus,
.btn-color2:active {
    color: #fff;
}
.btn-color1 .fa,
.btn-color2 .fa {
    margin-right: 15px;
}
/* ==========================================================================
Preloader Styles
 ========================================================================== */ 
#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}
#page-loader .page-loader-gif {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    background: url('../images/preloader.gif') no-repeat;
}
/* ==========================================================================
Menu Style
 ========================================================================== */ 
#main-nav .container {
    padding: 0 0 20px;
}
#main-nav .navbar-brand img {
    margin-right: 15px;
    max-width: 60px;
}
#main-nav .navbar-brand {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #555555;
    padding: 12px;
    text-transform: uppercase;
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    padding: 0 10px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #fff;
}
.navbar-brand span {
    font-size: 24px;
    font-weight: 300;
}
#main-nav.scrolled .navbar-brand {
    color: #6d6d6d;
}
#main-nav {
    background: transparent;
    color: #fff;
    box-shadow: 0 0 0px transparent;
    -webkit-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}
#main-nav.scrolled {
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
#main-nav.scrolled .navbar-toggle {
    color: #74c7d5;
    border-color: #74c7d5;
}
#main-nav.scrolled .navbar-toggle .icon-bar {
    background: #74c7d5;
}
#main-nav .container {
    padding: 30px 20px;
    -webkit-transition: padding 0.5s ease-out;
    transition: padding 0.5s ease-out;
}
#main-nav.scrolled .container {
    padding: 10px 20px;
}
#main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover {
    padding: 0px 10px;
    font-size: 18px;
    line-height: 54px;
    font-weight: 400;
    background: transparent;
    color: #000;
    transition: color .2s ease-in;
}
#main-nav.scrolled .nav a,
#main-nav.scrolled .nav a:active,
#main-nav.scrolled .nav a:hover {
    color: #6d6d6d;
}
#main-nav li {
    background: transparent;
    margin: 0 10px;
    border: 2px solid transparent;
}
#main-nav.scrolled .nav li.active a,
#main-nav.scrolled .nav a:hover {
    color: #F58026;
}
/* ==========================================================================
Header Styles
 ========================================================================== */ 
#home {
    color: #fff;
    max-width: 100%;
}
.backstretch img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#home .container {
    position: fixed;
    top: 50%;
    width: 100% !important;
    margin-top: -120px;
    z-index: -1;
}
#home p {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
}
#home h1 {
    margin: 0;
    font-size: 82px;
    font-weight: 600;
    text-transform: uppercase;
}
#home h1 + p {
    font-size: 28px;
}
/* ==========================================================================
Twitter Styles
 ========================================================================== */ 
#twitter {
    color: #fff;
    background: url('../images/twitter.jpg') no-repeat fixed;
    background-size: cover;
}
#twitter a:hover,
#twitter a:active,
#twitter a:focus {
    text-decoration: none;
}
#twitter a {
    color: #334959;
    text-decoration: none;
    transition: color .2s ease-out;
}
#twitter a:hover,
#twitter a:focus {
    color: #fff;
}
#twitter h1 {
    position: relative;
}
#twitter .tweet {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    word-spacing: 5px;
    margin-bottom: 40px;
}
#twitter .timePosted {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
#twitter .interact {
    margin-left: 20px;
    padding-right: 80px;
    display: inline-block;
    font-size: 21px;
    font-weight: 300;
}
#twitter .interact a {
    margin-right: 6px;
}
#twitter .interact a:hover {
    color: #fff;
    transition: color .2s ease-out;
}
#twitter .twitter-icon {
    padding-top: 6px;
    text-align: center;
}
#twitter .fa-twitter {
    font-size: 60px;
}
#twitter-slider {
    border: none;
    box-shadow: none;
    background: transparent;
    margin: 0;
    padding: 0;
}
#twitter-slider .flex-direction-nav {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 0;
}
#twitter-slider .flex-direction-nav li {
    display: inline;
}
#twitter .flex-direction-nav .flex-prev,
#twitter .flex-direction-nav .flex-next {
    background: transparent;
    background-image: none;
    display: inline;
    opacity: 0.6;
    text-indent: 0;
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    height: 42px;
    padding: 0;
    margin: 0;
    margin-left: 7px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
#twitter-slider .flex-direction-nav a:hover {
    opacity: 1;
}
#twitter-slider .flex-direction-nav a:hover,
#twitter-slider .flex-direction-nav a:active,
#twitter-slider .flex-direction-nav a:focus {
    text-decoration: none;
}
/* ==========================================================================
Contact Styles
 ========================================================================== */ 
#contact {
    background: url('../images/footer-bg.jpg') no-repeat fixed;
    background-size: cover;
    color: #000;
}
#contact-form {
    padding-top: 50px;
}
#contact-form .form-group label {
    display: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
}
#contact-form.no-placeholder .form-group label {
    display: block;
}
#contact-form .controls {
    padding: 0;
    margin-bottom: 30px;
    border: 1px solid #999;
    border-radius: 2px;
}
#contact-form .form-control {
    background: transparent !important;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: 56px;
    font-size: 21px;
    line-height: 32px;
    font-weight: 100;
    padding-left: 64px;
    -webkit-transition: border-color .3s ease-out;
    transition: border-color .3s ease-out;
    border-radius: 2px;
}
#contact-form .form-group {
    position: relative;
}
#contact-form .form-group [class*=fa] {
    display: block;
    width: 64px;
    position: absolute;
    top: 0;
    color: #555;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    font-weight: 300;
    opacity: 0.5;
    transition: opacity .2s ease-out;
}
#contact-form.no-placeholder .form-group [class*=fa] {
    top: 30px;
}
#contact-form .form-control:focus + [class*=fa] {
    opacity: 1;
}
#contact-form textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    font-size: 21px;
    line-height: 32px;
    padding-top: 10px;
}
#contact-form .form-control:focus {
    background: #fff;
    border-bottom: 3px solid #555;
    outline: none;
    box-shadow: none;
    -webkit-transition: border-color .3s ease-in;
    transition: border-color .3s ease-in;
}
#contact-form .error-message {
    padding: 5px 0;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 14px;
    font-weight: 300;
    color: #ff0000;
    z-index: 10;
}
#contact-form .error-message:before {
    content: "\00d7";
    font-size: 21px;
    line-height: 21px;
    margin-right: 5px;
}
/* ==========================================================================
Scrolling animations
 ========================================================================== */ 
.scrollimation.fade-in {
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.scrollimation.fade-in.in {
    opacity: 1;
}
.scrollimation.scale-in {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
    transition: transform .6s cubic-bezier(.17,.89,.67,1.57), opacity .6s ease-out;
}
.scrollimation.scale-in.in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.scrollimation.fade-right {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: -webkit-transform .6s ease-out,opacity .6s ease-out;
    transition: transform .6s ease-out,opacity .6s ease-out;
}
.scrollimation.fade-right.in {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.scrollimation.fade-left {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition: -webkit-transform .6s ease-out,opacity .6s ease-out;
    transition: transform .6s ease-out,opacity .6s ease-out;
}
.scrollimation.fade-left.in {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.scrollimation.fade-up {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: -webkit-transform .6s ease-out,opacity .6s ease-in;
    transition: transform .6s ease-out,opacity .6s ease-in-out;
}
.scrollimation.fade-up.in {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.scrollimation.d1 {
    transition-delay: .3s;
}
.scrollimation.d2 {
    transition-delay: .6s;
}
.scrollimation.d3 {
    transition-delay: .9s;
}
.scrollimation.d4 {
    transition-delay: 1.2s;
}
.touch .scrollimation.fade-in {
    opacity: 1;
}
.touch .scrollimation.scale-in {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.touch .scrollimation.fade-right {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.touch .scrollimation.fade-left {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.touch .scrollimation.fade-up {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
/* ==========================================================================
Portfolio
 ========================================================================== */ 
.grid {
    overflow: hidden;
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
/* Common style */
.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: -0.20em;
    width: 33.433%;
    height: 400px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h2 span {
    font-weight: 800;
}
.grid figure h2,
.grid figure p {
    margin: 0;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 100%;
    margin-top: 40px;
}
/* ==========================================================================
Milo
 ========================================================================== */ 
figure.effect-milo {
    background: #2e5d5a;
}
figure.effect-milo img {
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure.effect-milo:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}
figure.effect-milo h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}
figure.effect-milo p {
    padding: 0 10px 0 0;
    width: 50%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}
figure.effect-milo:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
@media screen and (max-width: 69.5em) {
    .grid figure {
        width: 50%;
    }
    .grid figure figcaption {
        font-size: 120%;
    }
}
@media screen and (max-width: 41.5em) {
    .grid figure {
        width: 100%;
    }
}
/* ==========================================================================
Button
 ========================================================================== */ 
.btn-primary {
    color: #FFFFFF;
    background-color: #000000;
    border-color: rgba(255, 186, 0, 0);
    border-radius: 0px;
    font-family: Raleway, Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: normal;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FFBE00;
    border-color: #FFD000;
}
.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    color: #000;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 45px;
    font-size: 3em;
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: Raleway, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Raleway, Arial, sans-serif;
    letter-spacing: 2px;
    color: #000000;
    line-height: 10px;
    text-transform: none;
    -webkit-font-smoothing: antialiased !important;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}
.portfolio-modal .close-modal:hover {
    opacity: .3;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* ==========================================================================
Subscribe
 ========================================================================== */ 
#subscribe {
    background-color: #fff;
    height: auto;
    min-height: 150px;
    max-height: 500px;
    color: #000;
    padding-top: 35px;
    padding-bottom: 45px;
    margin-top: -2px;
}
#subscribe p {
    display: inline-block;
    vertical-align: middle;
    font-family: Raleway, Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 27px;
    -webkit-font-smoothing: antialiased !important;
}
#subscribe span.btn:hover {
    color: #F58026;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
#subscribe span.right {
    font-family: Raleway, Arial, sans-serif;
    font-size: 24px;
    letter-spacing: 8px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased !important;
    margin-top: 10px;
    border-bottom: 1px solid #555;
    padding: 10px;
    border-radius: 0px;
    float: right;
    color: #555;
}
#subscribe span.right:hover {
    border-bottom: 1px solid #fed136;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
/* ==========================================================================
Footer
 ========================================================================== */ 
footer {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.company-details {
    padding-top: 25px;
    padding-bottom: 25px;
}
.company-details .icon-top {
    font-size: 30px;
    margin-bottom: 10px;
}
.copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #f5f5f5;
}
ul.social {
    margin: 0px;
}
.social li {
    display: inline-block;
    margin: 5px 10px;
}
.social li a {
    color: #ccc;
    font-size: 18px;
}
.social li a:hover {
    color: #e96656;
}
.social i {
    font-size: 16px;
}
/* ==========================================================================
Media Queries
 ========================================================================== */ 
@media (max-width:991px) {
    .col-text-lg {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: 0.01em;
        word-spacing: 0.15em;
    }
    #main-nav .nav a,
#main-nav .nav a:active,
#main-nav .nav a:hover {
        font-size: 16px;
        color: #000;
    }
    #main-nav li {
        margin: 0 5px;
    }
}

@media (max-width:767px) {
    body {
        font-size: 15px;
    }
    .lead {
        font-size: 16px;
        font-weight: 400;
    }
    .add-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .col-text-lg {
        font-size: 38px;
        line-height: 42px;
    }
    #main-nav {
        background: #fff;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
    }
    #main-nav .navbar-toggle {
        margin-bottom: 5px;
        margin-top: 5px;
        color: #6d6d6d;
        border-color: transparent !important;
    }
    #main-nav .navbar-toggle .icon-bar {
        width: 28px;
        height: 4px;
        margin-top: 0;
        background: #6d6d6d !important;
    }
    #main-nav .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    #main-nav .container,
    #main-nav.scrolled .container {
        padding: 5px 20px;
    }
    #main-nav .nav a,
    #main-nav .nav a:active,
    #main-nav .nav a:hover {
        line-height: 42px;
        text-align: center;
        color: #000;
    }
    #main-nav .nav li.active a,
    #main-nav .nav a:hover {
        color: #F58026;
    }
    #main-nav .navbar-brand {
        padding-top: 5px;
        font-size: 21px;
        color: #6d6d6d;
    }
    #main-nav .navbar-brand img {
        margin-right: 10px;
        max-width: 40px;
    }
    #home .container {
        margin-top: -80px;
    }
    #home p {
        font-size: 24px;
    }
    #home h1 {
        font-size: 42px;
    }

    #home h1 + p {
        font-size: 21px;
    }
    #twitter .tweet {
        font-size: 18px;
        line-height: 24px;
    }
    #contact-form {
        margin-top: 30px;
    }
    .padding-bottom {
        padding-bottom: 0px;
    }
}